{% extends 'base.html' %}
{% block  card_body %}
    <h2>ورود به حساب کاربری</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ورود</button>
    </form>
{% endblock %}