{% extends 'base.html' %}


{% block title %}
    وضعیت سیستم
{% endblock %}

{% block card_header %}
    وضعیت سیستم در ۲۴ ساعت گذشته
{% endblock %}


{% block card_body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">تعداد درخواست‌ها</h5>
                    <p class="card-text">{{ throughput }}</p>
                    <p class="card-text"><small class="text-muted">در ۲۴ ساعت گذشته</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">میانگین زمان پاسخ</h5>
                    <p class="card-text">{{ response_time }}</p>
                    <p class="card-text"><small class="text-muted">میلی‌ثانیه</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}