{% extends 'base.html' %}


{% block title %}
    داده‌های کیفی محصول
{% endblock %}

{% block card_header %}
    داده‌های کیفی محصول
{% endblock %}

{% block card_body %}
    <ul class="list-group">
        {% for key, value in data.items %}
            <li class="list-group-item my-2">
                {{ key }}:
                {{ value }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
