{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block card_header %}
    سیاست‌های اعلان
{% endblock %}

{% block card_body %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">ذخیره</button>
    </form>
{% endblock %}