{% extends 'base.html' %}
{% block  card_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panle panel-default">
                    <div class="panel-body">
                        <h3>ایجاد یک حساب کاربری</h3>
                        {% if error_massage %}
                            <p><strong>{{ error_massage }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success"> submit</button>


                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}