@font-face {
    font-family: Daal;
    src: url('./fonts/DaalRegular.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: Daal;
    src: url('./fonts/DaalBlack.ttf') format('truetype');
    font-weight: 900;
}

body {
    font-family: Daal, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    padding-top: 4.5rem;
}

.right-dropdown {
    right: -10rem;
}

.width-480 {
    max-width: 480px;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.border-thick {
    border-width: 5px !important;
}

.minh-100 {
    min-height: 100% !important;
}

html, body {
    height: 100%;
}

.cart-overview {
    min-width: 15rem !important;
}

.btn-white {
    background-color: white !important;
}

.nav-link-white {
    color: white !important;
}

.text-black {
    color: black;
}

.text-black:hover {
    color: #1d1d1d;
}

.bg-black {
    background-color: black !important;
}

.sticky-top {
    top: 2rem !important;
}

.zoom {
    transition: all 0.2s !important;
    -webkit-transition: all 0.2s !important;
}

.zoom:hover {
    transform: scale(1.13);
    -webkit-transform: scale(1.13);
}

.overflow-hidden {
    overflow: hidden !important;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.footer, .push {
    height: 60px;
}

.z-index-1050 {
    z-index: 1050 !important;
}

button[disabled]:hover {
    cursor: not-allowed !important;

}

::selection {
    background: black;
    color: gray;
}

::-moz-selection {
    background: black;
    color: gray;
}

.farsi-neg-number {
    direction: ltr;
    unicode-bidi: bidi-override;
}

td, th {
    vertical-align: middle !important;
}

.progress-bar.bg-danger {
    animation-name: animateBarRight;
}

.progress-bar.bg-success {
    animation-name: animateBarLeft;
}

.progress .progress-bar {
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
}

@keyframes animateBarRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animateBarLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }

}

.disabled-input:hover {
    cursor: not-allowed;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
