{% load crispy_forms_tags static %}
<table>
    {{ formset.management_form|crispy }}
    {% for form in formset.forms %}
            <div class="text-danger">{{ form.errors.as_ul }}</div>

        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
            {% for field in form.visible_fields %}
                <td>
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field|as_crispy_field }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}

</table>
<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: '<span class="fa fa-plus text-success">افزودن مورد جدید</span>',
        deleteText: '<span class="fa fa-times text-danger"></span>',
        prefix: '{{ formset.prefix }}',
    });
</script>