{% extends 'base.html' %}
{% block  card_body %}

    {% if error_massage %}
        <p><strong> {{ error_massage }}</strong></p>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">عنوان جلسه</th>
            <th scope="col">اتاق جلسه</th>
            <th scope="col">زمان شروع</th>
            <th scope="col">زمان پایان</th>
        </tr>
        </thead>
        <tbody>
        <th scope="row">  {{ appointment.poll.title }}</th>
        <th scope="row">  {{ appointment.room_number }}</th>
        <th scope="row">  {{ appointment.poll_item.start_at }}</th>
        <th scope="row">  {{ appointment.poll_item.end_at }}</th>
        </tbody>
    </table>
    <a href="{% url 'reservation:poll-details' appointment.poll.id %}" class="btn btn-info">
        جزئیات نظرسنجی
    </a>
{% endblock %}