{% extends 'base.html' %}

{% block card_header %}
    در یک نگاه
{% endblock %}

{% block  card_body %}
    <h4> رویداد های پیش رو</h4>
    {% include 'event.html' with appointments=object.appointment url='appointment:detail' %}


    <h4>نظر سنجی های ایجاد شده</h4>
    {% include 'appointment/list_poll.html' with polls=object.poll_created %}

    <h4>نظر سنجی های نیاز به رای شما دارد</h4>
    <ul>
        {% for invitation in object.pollInvited %}
            <li>
                <a href="{% url 'reservation:vote-details'  invitation.uuid %}">{{ invitation.poll.title }} </a>
            </li>
        {% empty %}
            <li class="text-secondary">نظرسنجی وجود ندارد</li>
        {% endfor %}
    </ul>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-success">
            <a class="nav-link" href="{% url 'reservation:poll-create' %}">
                <i class="fa "></i>
                ایجاد نظرسنجی
            </a>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            <a class="nav-link" href="{% url 'appointment:old' %}">
                <i class="fa "></i>
                نمایش ۱۰ جلسه اخیر
            </a>
        </button>

    </div>

{% endblock %}