{% extends 'base.html' %}
{% block  card_body %}

    {% if object.appointments %}
        <h1>رویداد های گذشته</h1>
        {% include 'event.html' with appointments=object.appointments  url='appointment:detail' %}
    {% else %}
        <h1> جلسه ای موجود نمی باشد</h1>
    {% endif %}




    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-success">
            <a class="nav-link" href="{% url 'reservation:poll-create' %}">
                <i class="fa "></i>
                ایجاد نظرسنجی برای جلسه
            </a>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            <a class="nav-link" href="{% url 'appointment:home' %}">
                <i class="fa "></i>
                بازگشت به خانه
            </a>
        </button>

    </div>
{% endblock %}
