{% block listPoll %}
    {{ polls.0.poll.title }}
    <ul>
        {% for poll in polls %}
            <li>
                <a href="{% url 'reservation:poll-details'  poll.id %}">{{ poll.title }} </a>
            </li>
        {% empty %}
            <li class="text-secondary">نظرسنجی وجود ندارد</li>
        {% endfor %}
    </ul>
{% endblock %}