{% extends 'emails/base.html' %}
{% load jformat %}

{% block title %}
    برگزاری جلسه‌ی {{ poll.title }}
{% endblock %}

{% block body %}
    <p>
        با سلام<br>
        جلسه‌ی {{ poll.title }}
        نهایی شد و در تاریخ
        {{ poll.appointment.poll_item.date|jformat:'%Y/%-m/%-d' }}
        از ساعت
        {{ poll.appointment.poll_item.start_at|date:'f' }}
        تا
        {{ poll.appointment.poll_item.end_at|date:'f' }}
        برگزار می‌گردد.</p>
    {% if poll.appointment.room_number %}
        <p>
            مکان این جلسه در اتاق
            {{ poll.appointment.room_number }}
            .خواهد بود
        </p>
    {% endif %}
    <p>
        برای اطلاعات بیشتر درباره‌ی این جلسه
        <a href="http://localhost:8000{% url 'reservation:vote-details' invitation.uuid %}">
            اینجا
        </a>
        کلیک کنید
    </p>
    با تشکر
{% endblock %}

{% block preheader %}
    اطلاع‌رسانی برگزاری جلسه
{% endblock %}