{% extends 'emails/base.html' %}


{% block title %}
    حذف شدن گزینه‌های حضور
{% endblock %}

{% block body %}
    <p>
        با سلام<br>
        از جلسه‌ی
        {{ poll.title }}
        گزینه‌ای حذف شد.
    <p>
        برای مشاهده‌ی جزییات این نظرسنجی
        <a class="btn"
           href="http://localhost:8000{% url 'reservation:vote-details' invitation.uuid %}">
            اینجا
        </a>
        کلیک کنید
    </p>
    با تشکر
{% endblock %}

{% block preheader %}
    حذف گزینه‌های حضور
{% endblock %}