{% extends 'emails/base.html' %}


{% block title %}
    منشن شدید
{% endblock %}

{% block body %}
    <p>
        با سلام<br>
        {{ comment.user.get_full_name }}
        شما را منشن کرد
    <p>
        برای مشاهده‌ی جزییات این نظرسنجی
        <a class="btn"
           href="http://localhost:8000{% url 'reservation:vote-details' invitation.uuid %}">
            اینجا
        </a>
        کلیک کنید
    </p>
    با تشکر
{% endblock %}

{% block preheader %}
    منشن شدن در کامنت
{% endblock %}