{% extends 'emails/base.html' %}


{% block title %}
    نظرسنجی برای جلسه‌ی
    {{ invitation.poll.title }}
{% endblock %}

{% block body %}
    <p>
        با سلام<br>
        جلسه‌ی
        {{ invitation.poll.title }}
        توسط
        {{ invitation.poll.creator.get_full_name }}
        ایجاد شده است.
    </p>
    <p>
        از شما خواهشمندیم جهت ثبت رای خود لینک زیر را دنبال کنید.
    </p>
    <p>
        <a class="btn"
           href="http://localhost:8000{% url 'reservation:vote-details' invitation.uuid %}">لینک اختصاصی شما برای ثبت
            رای</a>
    </p>
    با تشکر
{% endblock %}

{% block preheader %}
    لینک اختصاصی برای ثبت رای
{% endblock %}