{% extends 'emails/base.html' %}
{% load jformat %}

{% block preheader %}
    ثبت رای جدید برای نظرسنجی
{% endblock %}

{% block title %}
    ثبت رای جدید
{% endblock %}

{% block body %}
    <p>
        با سلام
        <br>
    </p>

    <p>
        نظرات جدیدی برای نظرسنجی
        {{ votes.0.poll_item.poll.title }}
        توسط
        {{ votes.0.invitation.user }}
        .ثبت شده است
    </p>

    <p>
        جزئیات آرا به شرح زیر است
    </p>

    <ul>
        {% for vote in votes %}
            <li>
                {{ vote.poll_item.date|jformat:'%Y/%-m/%-d' }}
                از ساعت
                {{ vote.poll_item.start_at|jformat:'%H:%M' }}
                تا
                {{ vote.poll_item.end_at|jformat:'%H:%M' }}:
                {{ vote.get_state_display }}
            </li>
        {% endfor %}

    </ul>
{% endblock %}