{% block event %}
    <ul>
        {% for appointment in appointments %}
            <li>
                <a href="{% url 'appointment:detail'  appointment.id %}">{{ appointment.poll.title }} </a>
            </li>
        {% empty %}
            <li class="text-secondary"> جلسه ای ایجاد نشده است</li>
        {% endfor %}
    </ul>
{% endblock %}