{#{{ form }}#}
{% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
              <span class="text-danger small">
                  {{ field.errors }}
              </span>
        </div>
        {#        field.label_tag#}
        <label class="control-label col-sm-2"> {{ field.label_tag }}  </label>
        <div class="col-sm-10">{{ field }}</div>

    </div>
{% endfor %}