<ul>
    {% for comment in comments %}
        <li>
            {{ comment.user.get_full_name }}
            گفت:
            {{ comment.get_safe_text|safe }}
            <a href="{% url 'reservation:reply-create' comment.id %}">
                <i class="fa fa-reply text-success ml-5 mr-5"></i>
            </a>
            {% if comment.user == request.user %}
                <a href="{% url 'reservation:comment-update' comment.id %}">
                    <i class="fa fa-edit text-info ml-5"></i>
                </a>
                <a href="{% url 'reservation:comment-delete' comment.id %}">
                    <i class="fa fa-times text-danger"></i>
                </a>
            {% endif %}
            {% with comments=comment.comment_set.all %}
                {% include 'reservations/comments_includable.html' %}
            {% endwith %}
        </li>
    {% endfor %}
</ul>