{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block  container %}
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">اعمال تغیرات</button>
    </form>
{% endblock %}