{% extends 'base.html' %}
{% load static crispy_forms_tags %}


{% block title %}
    ایجاد نظرسنجی
{% endblock %}

{% block card_header %}
    ایجاد نظرسنجی
{% endblock %}


{% block card_body %}
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <br><br>
        <h4>گزینه‌های حضور</h4>
        {% with formset=poll_items  prefix='pollitem_set' %}
            {% include 'includes/formset.html' %}
        {% endwith %}
        <h4>مدعوین</h4>
        {% with formset=poll_invitations prefix='invitations' %}
            {% include 'includes/formset.html' %}
        {% endwith %}

        <button type="submit" class="btn btn-success">ایجاد نظرسنجی</button>
    </form>
{% endblock %}