{% extends 'base.html' %}
{% load static jformat %}
{% load static crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'js/empty_rooms_ajax.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/reserve_room_ajax.js' %}" type="application/javascript"></script>
{% endblock %}

{% block title %}
    {{ poll.title }}
{% endblock %}

{% block card_header %}
    {{ poll.title }}
    <br>
    {% if editable %}
        <a class="h5 text-danger" href="{% url 'reservation:cancel-poll' poll.id %}">
            لغو نظرسنجی
        </a>
    {% endif %}

    {% if poll.has_appointment and not poll.appointment.is_cancelled %}
        <a class="h5 text-danger"
           href="{% url 'appointment:cancel-appointment' poll.appointment.id %}">
            لغو جلسه
        </a>
    {% endif %}
    <h5 class="text-muted">
        ایجاد شده توسط
        {{ poll.creator.get_full_name }}
        در:
    </h5>
    <h5 class="text-muted">
        <i class="fas fa-calendar"></i>
        {{ poll.created_at|jformat:'%Y/%-m/%-d' }}
    </h5>
    <h5 class="text-muted">
        <i class="fas fa-clock"></i>
        {{ poll.created_at|jformat:'%H:%M' }}
    </h5>
{% endblock %}

{% block card_body %}
    <h3>
        مدعوین
        ({{ poll.invitations.distinct.count }})
        {% if editable %}
            <a href="{% url 'appointment:create-poll-invitation' poll.id %}"
               class="h5 text-secondary">
                دعوت از فرد جدید
            </a>
        {% endif %}
    </h3>
    <ul>
        {% for invitee in poll.invitations.distinct %}
            <li>
                {% if editable %}
                    <a href="{% url 'appointment:delete-poll-invitation' invitee.id %}">
                        <i class="fa fa-times text-danger"></i>
                    </a>
                {% endif %}
                {{ invitee.user.get_full_name }}
            </li>
        {% endfor %}
    </ul>

    {% if editable %}
        <form method="post" action=" {% url 'appointment:create-from-poll' %}"
              id="create_from_poll">
        {% csrf_token %}
    {% endif %}

{% if poll.is_cancelled %}
    این نظرسنجی لغو شده است
{% endif %}
{% if poll.appointment.is_cancelled %}
    این جلسه لغو شده است
{% endif %}
<ul class="list-group">
    {% for poll_item in poll.pollitem_set.all %}
        <li class="list-group-item my-3">
            <div class="row">
                <div class="col-1">
                    {% if editable %}
                        <div class="custom-checkbox custom-control form-check">
                            <input type="radio" name="poll_item"
                                   class="custom-control-input js-poll-item"
                                   value="{{ poll_item.id }}"
                                   id="input_{{ poll_item.id }}">
                            <label class="custom-control-label" for="input_{{ poll_item.id }}">
                                &nbsp;
                            </label>
                        </div>
                    {% elif poll.appointment.poll_item == poll_item %}
                        <h2 class="fas fa-check-circle text-success"></h2>
                    {% else %}
                        <h2 class="fas fa-times-circle text-danger"></h2>
                    {% endif %}

                </div>
                <div class="col-2">
                    {{ poll_item.date|jformat:'%Y/%-m/%-d' }}
                </div>

                <div class="col-2">
                    {{ poll_item.start_at.isoformat }} -
                    {{ poll_item.end_at.isoformat }}
                </div>

                <div class="col-2">
                    تعداد موافقین: {{ poll_item.agreed_votes.count }}
                </div>

                <div class="col-2">
                    تعداد مخالفین: {{ poll_item.disagreed_votes.count }}
                </div>
                <div class="col-2">
                    تعداد ممتنعین: {{ poll_item.abstainer_votes.count }}
                </div>
                {% if poll.creator == request.user %}
                    <a href="{% url 'reservation:poll-item-delete' poll_item.id %}">
                        <i class="fa fa-times text-danger"></i>
                    </a>
                {% endif %}
            </div>
        </li>
    {% endfor %}

</ul>
<hr>
<h3>نظرات</h3>
<ul>
    {% for comment in poll.comment_set.all %}
        <li>
            {{ comment.user.get_full_name }}
            گفت:
            {{ comment.get_safe_text|safe }}
            <a href="{% url 'reservation:reply-create' comment.id %}">
                <i class="fa fa-reply text-success ml-5 mr-5"></i>
            </a>
            {% if comment.user == request.user %}
                <a href="{% url 'reservation:comment-update' comment.id %}">
                    <i class="fa fa-edit text-info ml-5"></i>
                </a>
                <a href="{% url 'reservation:comment-delete' comment.id %}">
                    <i class="fa fa-times text-danger"></i>
                </a>
            {% endif %}
            {% with comments=comment.comment_set.all %}
                {% include 'reservations/comments_includable.html' %}
            {% endwith %}
        </li>
    {% empty %}
        نظری ثبت نشده است
    {% endfor %}
</ul>
{% if editable %}
    <label for="room_list">انتخاب اتاق:</label>
    <span class="fa-spinner fa-spin fas" id="room_list_loading" hidden></span>
    <select id="room_list" class="form-control bg-info text-light" name="room_number">
        <option>ابتدا یکی زمان‌های بالا را انتخاب کنید!</option>
    </select>

    <button type="submit" class="mt-3 btn btn-success" id="submit_button" disabled>
        ایجاد
    </button>

    <a class="mt-3 btn btn-danger" id="cancel_btn" href="cancel/" hidden>
        لغو جلسه
    </a>
    <span class="fa-spinner fa-spin fas" id="submit_loading" hidden></span>
    </form>

{% endif %}
    {% if can_comment %}
        <form method="post" action="{% url 'reservation:poll-comments' poll.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment-text">ثبت نظر</label>
                <textarea type="text" id="comment-text" class="form-control" name="text" required>
            </textarea>
            </div>
            <button class="btn btn-success">ثبت نظر</button>
        </form>
    {% endif %}
    {% if editable %}
        <form method="post" action="{% url 'reservation:add-item' poll.pk %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <label for="comment-text">ویرایش</label>
                <h4>گزینه‌های حضور</h4>
                {% with formset=poll_items %}
                    {% include 'includes/formset.html' %}
                {% endwith %}
            </div>
            <button class="btn btn-success">ویرایش</button>
        </form>'

    {% elif not poll.is_cancelled and poll.has_appointment and not poll.appointment.is_cancelled %}
        <h3>مکان</h3>
        اتاق {{ poll.appointment.room_number|default:'نامشخص' }}
        <h3>زمان</h3>
        {{ poll.appointment.poll_item }}
    {% endif %}

{% endblock %}