{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block card_header %}
    پاسخ به نظر
{% endblock %}

{% block  card_body %}
    <h4>نظر اصلی</h4>
    {{ root_comment.user.get_full_name }}: {{ root_comment.text }}<br>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">اعمال تغیرات</button>
    </form>
{% endblock %}