{% extends 'base.html' %}
{% load static jformat %}

{% block scripts %}
    <script type="text/javascript">
        function submit_vote(elent) {

            {% for vote in Vote %}
                let cheak_{{ vote.id }} = function () {
                    if (document.getElementById('input_{{ vote.id }}').checked) {
                        return true;
                    }
                    else return false;

                }();
                var name = document.getElementsByName("name")[0].value;
                $.ajax(
                    {
                        type: "GET",
                        url: 'http://127.0.0.1:8000{% url 'reservation:vote' vote.id %}',
                        dataType: "json",
                        data: {
                            'user': name,
                            'agreed': cheak_{{ vote.id }},
                            'poll_item': '{{ vote }}',

                        },
                        success: function (data) {
                            window.location.href = data['url'];
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    }
                )
            {% endfor %}

        }
    </script>
    {#        <script src="{% static 'js/vote_jquery.js' %}" type="application/javascript"></script>#}
    <script>
        document.getElementById("email_form").addEventListener("keyup", function () {
            let nameInput = document.getElementById('email_form').value;
            if (nameInput !== "") {
                document.getElementById('submit_button').removeAttribute("disabled");
            } else {
                document.getElementById('submit_button').setAttribute("disabled", null);
            }
        });

    </script>
{% endblock %}

{% block title %}
    {{ poll.title }}
{% endblock %}

{% block card_header %}
    {#    {{ request.get_full_path |add:vote.id }}#}
    <li>{{ Vote.first.poll }}</li>
    <br>
    <h5 class="text-muted">
        ایجاد شده توسط
        {{ Vote.first.poll.creator.get_full_name }}
        در:
    </h5>
    <h5 class="text-muted">
        <i class="fas fa-calendar"></i>
        {{ Vote.first.poll.created_at|jformat:'%Y/%-m/%-d' }}
    </h5>
    <h5 class="text-muted">
        <i class="fas fa-clock"></i>
        {{ Vote.first.poll.created_at|jformat:'%H:%M' }}
    </h5>
{% endblock %}


{% block card_body %}

    <ul class="list-group">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> موافق</th>
                <th scope="col"> تاریخ</th>
                <th scope="col">زمان شروع</th>
                <th scope="col">زمان پایان</th>
            </tr>
            </thead>
            <tbody>

            {% for poll_item in Vote %}
                <tr>
                    <th class="">

                        <div class="custom-checkbox custom-control form-check">
                            <input type="checkbox" name="poll_item"
                                   value="{{ poll_item.id }}"
                                   id="input_{{ poll_item.id }}">

                        </div>


                    </th>
                    <th>
                        {{ poll_item.date|jformat:'%Y/%-m/%-d' }}
                    </th>

                    <th>
                        {{ poll_item.start_at.isoformat }}

                    </th>
                    <th>
                        {{ poll_item.end_at.isoformat }}
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </ul>

    <label> برای ثبت رای خود اسم خود را وارد کنید:</label>

    <span class="fa-spinner fa-spin fas" id="hi" hidden></span>
    <form>
        {% csrf_token %}
        <input type="text" name="name" id='email_form'>

        <button onclick="submit_vote(this)" type="submit" class="mt-3 btn btn-success"
                id="submit_button"
                disabled>ثبت
        </button>
    </form>
    {#     <input id="vote_id" value="{{ Vote }}" type="hidden">#}


{% endblock %}


