{% extends 'base.html' %}

{% block title %}
    ثبت رای
{% endblock %}

{% block card_header %}
    ثبت رای
    <br>
    {{ poll.title }}
{% endblock %}


{% block card_body %}
    <a href="{% url 'reservation:poll-details' poll.id %}">
        مشاهده جزئیات بیشتر
    </a>
    <form method="post" class="">
        {% if not poll.has_appointment and votes.count == 0 %}
            <h4>گزینه‌ها</h4>
            {% for poll_item in poll.pollitem_set.all %}
                {% include 'reservations/votes_includable.html' %}
            {% endfor %}
            <button type="submit" class="btn btn-success">ثبت رای</button>
        {% elif votes.count > 0 %}
            <h3>شما رای خود را ثبت کرده‌اید</h3>
            نام شما:
            {{ votes.0.name }}
            <br>
            {% for vote in votes %}
                {% include 'reservations/votes_includable.html' with poll_item=vote.poll_item state=vote.state %}
            {% endfor %}
            <button type="submit" class="btn btn-success">به روزرسانی رای</button>
        {% endif %}
    </form>
{% endblock %}