{% load jformat %}

<div class="form-group">
    {{ poll_item.date|jformat:'%Y/%-m/%-d' }}
    از ساعت
    {{ poll_item.start_at|jformat:'%H:%M' }}
    تا
    {{ poll_item.end_at|jformat:'%H:%M' }}

    <div class="form-check-inline">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{ poll_item.id }}" value="yes"
                   {% if state == "yes" %}checked{% endif %}>
            موافق
        </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{ poll_item.id }}" value="no"
                   {% if state == "no" %}checked{% endif %}>
            مخالف
        </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{ poll_item.id }}"
                   value="abstainer" {% if state == "abstainer" or not state %}checked{% endif %}>
            نظری ندارم
        </label>
    </div>
</div>